@import 'variables';

.flex-row{
    display: flex;
    justify-items: flex-end;
    position: relative;
}

.interactive{
    padding: 100px 0;
    &__image{
        img{
            
            max-width: 730px;
            height: auto;
        }
    }

    &__text{
        padding: 95px 0 0 95px;
        margin-top: auto;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        justify-items: center;
        justify-self: end;
        background-color: $color-white;
        margin-left: -10rem;

        &-title{
            font-family: $ff-title;
            text-transform: uppercase;
            font-size: 2.625rem;
        }

        &-description{
            font-family: $ff-main;
            font-size: $fs-body;
            text-align: justify;
        }
    }

    
}
