$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-gray: hsl(0, 0%, 55%);
$color-dark-gray: hsl(0, 0%, 41%);

$fs-body: 0.94rem;

$ff-main: 'Alata', sans-serif;
$ff-title: 'Josefin Sans', sans-serif;