.header {
  top: 60px;
  position: absolute;
  width: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
}

.menu img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  list-style: none;
}

.menu__item {
  margin-left: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.menu__item :hover::before {
  content: "";
  background-color: white;
  width: 25px;
  height: 4px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu__item a {
  color: white;
  font-family: "Alata", sans-serif;
  text-decoration: none;
  position: relative;
  padding-bottom: 10px;
}

.menu__item:first-child {
  margin-left: 0;
}

.hero {
  background-image: url("/images/desktop/image-hero.jpg");
  background-size: cover;
  height: 650px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__box {
  width: 100%;
}

.hero__title {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 4.25rem;
  text-transform: uppercase;
  max-width: 550px;
  padding: 2.6rem;
  border: 3px solid white;
  border-radius: 0.5%;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  position: relative;
}

.interactive {
  padding: 100px 0;
}

.interactive__image img {
  max-width: 730px;
  width: auto;
  height: 100%;
}

.interactive__text {
  padding: 95px 0.5rem 0 95px;
  margin-top: auto;
  max-width: 600px;
  background-color: white;
  margin-left: -10rem;
}

.interactive__text-title {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 2.625rem;
}

.interactive__text-description {
  font-family: "Alata", sans-serif;
  font-size: 0.94rem;
  text-align: justify;
}

.creations__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
}

.creations__title-text {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.625rem;
}

.creations__title-button {
  max-width: 160px;
  width: 100%;
  max-height: 40px;
  background: transparent;
  border: dimgray 2px solid;
  -webkit-transition: background-color 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: background-color 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.creations__title-button:hover {
  background-color: black;
  color: white;
  border: black;
}

.creations__tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 1rem;
}

.creations__tiles-tile {
  position: relative;
  background-color: black;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.creations__tiles-tile img {
  min-width: 270px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.95;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.creations__tiles-tile:hover {
  background-color: white;
}

.creations__tiles-tile:hover > * {
  color: black;
}

.creations__tiles-tile:hover img {
  opacity: 0.4;
}

.creations__tiles-text {
  position: absolute;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  z-index: 2;
  top: 78%;
  padding-left: 3rem;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.creations__tiles-tile > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.header {
  top: 60px;
  position: absolute;
  width: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
}

.menu img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  list-style: none;
}

.menu__item {
  margin-left: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.menu__item :hover::before {
  content: "";
  background-color: white;
  width: 25px;
  height: 4px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu__item a {
  color: white;
  font-family: "Alata", sans-serif;
  text-decoration: none;
  position: relative;
  padding-bottom: 10px;
}

.menu__item:first-child {
  margin-left: 0;
}

footer {
  background-color: black;
  color: white;
  font-family: "Alata", sans-serif;
  font-size: 0.94rem;
  margin-top: 150px;
  padding-top: 40px;
}

.flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.flex-footer img {
  max-height: 25px;
  width: auto;
  height: 100%;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

.footer__item {
  text-decoration: none;
  color: white;
  position: relative;
}

.footer__item:hover::before {
  content: "";
  background-color: white;
  width: 25px;
  height: 3px;
  position: absolute;
  top: 105%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.social {
  gap: 1rem;
}

.social li {
  position: relative;
}

.social__icon {
  color: white;
}

.social__icon:hover::before {
  content: "";
  background-color: white;
  width: 15px;
  height: 2px;
  position: absolute;
  top: 105%;
}

@media all and (max-width: 420px) {
  img {
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
  }
  .container {
    margin: 0;
    padding: 0 1rem;
  }
  .menu__list {
    display: none;
  }
  .hero {
    width: auto;
  }
  .hero__title {
    font-size: 2.5rem;
    padding: 3rem .5rem;
  }
  .hero__box {
    max-width: 300px;
    width: auto;
  }
  .flex-row {
    display: block;
  }
  .interactive {
    padding: 50px 0;
  }
  .interactive__image img {
    max-width: 100%;
    height: auto;
  }
  .interactive__text {
    padding: 30px 10px;
    margin-left: 0;
  }
  .interactive__text-title {
    font-size: 2rem;
  }
  .creations__title-text {
    font-size: 2rem;
  }
  .creations__title-button {
    display: none;
  }
  .creations__tiles-tile {
    height: 130px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .creations__tiles-text {
    top: 30%;
  }
  .flex-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
  }
}

body {
  margin: 0;
  top: 0;
  left: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}

.attribution {
  background-color: black;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  padding: 1rem 0;
  text-align: right;
}

.attribution a {
  text-decoration: underline;
  color: white;
}
/*# sourceMappingURL=main.css.map */